<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTM</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="background-color: #ffffff;">
    <header>
        <a href="/">
            <div class="logo">
                <p>MAKE THE MATCH</p>
            </div>
        </a>
    </header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff; color:#000000; font-size: 20px; font-weight: 700;  margin-bottom: 20px; border-top:2px solid black; border-bottom: 2px solid black;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/daily"><img src="/static/MTM.png" alt="MTM" style="width: 50px; height: 50px;"></a>
                    </li>
                    <li class="nav-item" style="margin-top: 8px;">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item" style="margin-top: 8px;">
                        <a class="nav-link" href="/mypage">My Page</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if session.get('login') %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        <p>Python 기반 응용 프로그래밍</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</body>
</html>
