{% extends 'layout.html' %}

{% block main %}
<div class="container mt-4">
  <div class="card-columns">
      {% for soccer in soccer_list %}
      <div class="card">
          <img class="card-img-top" src="{{ url_for('static', filename='soccer1.png') }}" alt="Soccer match" style="width:100%; height: auto;">
          <div class="card-body">
              <h5 class="card-title">{{ soccer[0] }}</h5>
              <p class="card-text">{{ soccer[1] }}</p>
              <p class="card-text">{{ soccer[2] }}</p>
              <a href="#" class="btn btn-primary">신청하기</a>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

    <button type="button" class="btn btn-primary add-match-btn" data-toggle="modal" data-target="#addMatchModal" style="position: fixed; bottom: 20px; right: 20px; font-size: 24px; width: 60px; height: 60px; border-radius: 50%;">
        +
    </button>

    <div class="modal fade" id="addMatchModal" tabindex="-1" aria-labelledby="addMatchModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addMatchModalLabel">새 경기 추가</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action = "\soccer_info" method="POST">
              <div class="form-group">
                <label for="matchInput">경기</label>
                <input type="text" name = "matchInput" class="form-control" id="matchInput" placeholder="(예시: 아태풋볼 VS 경영FC)">
              </div>
              <div class="form-group">
                <label for="timeInput">시간, 장소</label>
                <input type="text" name = "timeInput" class="form-control" id="timeInput" placeholder="(예시: 4/17 오후 1시, 인하대 운동장)">
              </div>
              <div class="form-group">
                <label for="detailsInput">세부 내용</label>
                <textarea class="form-control" name = "detailsInput" id="detailsInput" placeholder="(예시: 아태풋볼에서 골키퍼 용병 1명을 모집합니다.)"></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" onClick="location.href='http://127.0.0.1:5000/soccer'">제출하기</button>
                <button type="button" class="btn btn-secondary" onClick="location.href='http://127.0.0.1:5000/soccer'">닫기</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}