{% extends 'layout.html' %}

{% block main %}
<div class="container mt-4">
  <div class="container mt-4">
    <form method="get" action="{{ url_for('search_vs') }}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="종목 검색" name="query">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">검색</button>
            </div>
        </div>
    </form>
    {% if query and not vs_list %}
    <div class="alert alert-warning" role="alert">
        검색 결과가 없습니다.
    </div>
    {% endif %}
    </div>

    <div class="card-columns mt-4">
        {% for vs in vs_list %}
        <div class="card">
            <img class="card-img-top" src="{{ url_for('static', filename='soccer1.png') }}" alt="Tennis match" style="width:100%; height: auto;">
            <div class="card-body">
                <h5 class="card-title">{{ vs[0] }}</h5>
                <p class="card-text">{{ vs[5] }}</p>
                <p class="card-text">{{ vs[1] | datetimeformat('%Y/%m/%d %H:%M')}}</p>
                <p class="card-text">{{ vs[2] }}</p>
                <p class="card-text">{{ vs[3] }}</p>
                {% if login %}
                  {% if manager %}
                  <a href="#" class="btn btn-primary apply-button" data-id="{{ vs[4] }}">신청하기</a>
                  {% else %}
                  <button class="btn btn-secondary" onclick="alert('매니저만 신청할 수 있습니다.');">신청하기</button>
                  {% endif %}
                {% else %}
                <button class="btn btn-secondary" onclick="alert('로그인을 해주세요.');">신청하기</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
      </div>
    </div>


{% if login %}
    {% if manager %}
        <button type="button" class="btn btn-primary add-match-btn" data-toggle="modal" data-target="#addMatchModal" style="position: fixed; bottom: 20px; right: 20px; font-size: 24px; width: 60px; height: 60px; border-radius: 50%;">
            +
        </button>
    {% else %}
        <button type="button" class="btn btn-secondary" onclick="alert('매니저만 경기 추가가 가능합니다.');" style="position: fixed; bottom: 20px; right: 20px; font-size: 24px; width: 60px; height: 60px; border-radius: 50%;">
            +
        </button>
    {% endif %}
{% else %}
    <button type="button" class="btn btn-secondary" onclick="alert('로그인을 해주세요.');" style="position: fixed; bottom: 20px; right: 20px; font-size: 24px; width: 60px; height: 60px; border-radius: 50%;">
        +
    </button>
{% endif %}


      <div class="modal fade" id="addMatchModal" tabindex="-1" aria-labelledby="addMatchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addMatchModalLabel">새 경기 추가</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action = "\vs_info" method="POST">
                <div class="form-group">
                  <label for="team">팀명</label>
                  <input type="text" name = "team" class="form-control" id="team1" placeholder="(예시: 짱구FC)">
                </div>
                <div class="form-group">
                  <label for="team">종목</label>
                  <input type="text" name = "sportsInput" class="form-control" id="sportsInput" placeholder="(예시: 축구)">
                </div>
                <div class="form-group">
                  <label for="timeInput">시간</label>
                  <input type="datetime-local" name = "timeInput" class="form-control" id="timeInput" placeholder="(예시: 4/17 오후 1시)">
                </div>
                <div class="form-group">
                  <label for="locationInput">장소</label>
                  <input type="text" name = "locationInput" class="form-control" id="locationInput" placeholder="(예시: 인하대 대운동장)">
                </div>
                <div class="form-group">
                  <label for="detailsInput">세부 내용</label>
                  <textarea class="form-control" name = "detailsInput" id="detailsInput" placeholder="(예시: 짱구FC랑 경기할 팀을 찾습니다.)"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-secondary" onClick="location.href='http://127.0.0.1:5000/vs'">제출하기</button>
                  <button type="button" class="btn btn-primary" onClick="location.href='http://127.0.0.1:5000/vs'">닫기</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // 신청하기 버튼 클릭 이벤트 처리
    document.querySelectorAll('.apply-button').forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault(); // 기본 동작 중단

            var matchNumber = this.getAttribute('data-id'); // 해당 버튼의 데이터 속성에서 매치 번호 가져오기
            var confirmMessage = confirm("신청하시겠습니까?");

            // 사용자의 선택에 따라 처리
            if (confirmMessage) {
                // 서버로 매치 번호와 함께 POST 요청 보내기
                fetch('/vs_apply', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ matchnum: matchNumber }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error); // 에러 메시지 출력
                    } else {
                        alert(data.message); // 성공 메시지 출력
                        location.reload(); // 페이지 새로고침
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                // 아니오를 선택한 경우 처리할 내용 추가
                alert("신청이 취소되었습니다.");
            }
        });
    });
});
</script>



{% endblock %}